p-dialog >>> .ui-dialog{
  width: 80%;
  left: 10%;
}

p-dialog >>> .ui-dialog-content{
  min-height: 400px;
}

p-multiSelect >>> .ui-multiselect{
  width: 100%;
}

p-table >>> .ui-table .ui-table-tbody >>> tr:nth-child(2n).ui-state-highlight, {
  background-color: #fafafb;
  color: #222222;
}

p-table >>> .ui-table .ui-table-tbody >>> tr.ui-state-highlight{
  background-color: #ffffff;
  color: #222222;
}
